In [63]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
%matplotlib inline

In [69]:
data1 = pd.read_csv("old/datatoedit.csv", header = 2)

data1.describe()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-69-e73f76edf260>", line 1, in <module>
    data1 = pd.read_csv("old/datatoedit.csv", header = 2)
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/lib/python3.7/site-packages/pandas/io/parsers.py", line 685, in parser_f
    return _read(filepath_or_buffer, kwds)
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/lib/python3.7/site-packages/pandas/io/parsers.py", line 457, in _read
    parser = TextFileReader(fp_or_buf, **kwds)
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/lib/python3.7/site-packages/pandas/io/parsers.py", line 895, in __init__
    self._make_engine(self.engine)
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/lib/python3.7/site-packages/pandas/io/parsers.py", line 1135, in _make_engine
    self._engine = CParserWrapper(self.f, **self.options)
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/lib/python3.7/site-packages/pandas/io/parsers.py", line 1917, in __init__
    self._reader = parsers.TextReader(src, **kwds)
  File "pandas/_libs/parsers.pyx", line 382, in pandas._libs.parsers.TextReader.__cinit__
  File "pandas/_libs/parsers.pyx", line 689, in pandas._libs.parsers.TextReader._setup_parser_source
FileNotFoundError: [Errno 2] File b'old/datatoedit.csv' does not exist: b'old/datatoedit.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2040, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'FileNotFoundError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/lib/python3.7/site-packages/IPython/core/ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/lib/python3.7/site-packages/IPython/core/ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/local/Cellar/python/3.7.3/Frameworks/Python.framework/Versions/3.7/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/local/Cellar/python/3.7.3/Frameworks/Python.framework/Versions/3.7/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/local/Cellar/python/3.7.3/Frameworks/Python.framework/Versions/3.7/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/local/Cellar/python/3.7.3/Frameworks/Python.framework/Versions/3.7/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/local/Cellar/python/3.7.3/Frameworks/Python.framework/Versions/3.7/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/lucasgates/Code/QMI/modeling_basics/model-env/bin/../lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

FileNotFoundError: [Errno 2] File b'old/datatoedit.csv' does not exist: b'old/datatoedit.csv'

In [65]:
data1.dropna(subset=['Ticker'], inplace=True)
data1.head()

,Date,Ticker,Mean Rating,# of Ratings,Buy (%),Overweight (%),Hold (%),Underweight (%),Sell (%),Mean Tgt Price,# of Tgt Prices,Tgt Price Implied Return (%)
0,01 Dec '19,APPL,Overweight (1.59),43,51.2,4.7,30.2,2.3,11.6,256.75,39,-3.9
1,30 Sep '19,APPL,Overweight (1.62),42,45.2,4.8,40.5,0.0,9.5,225.52,37,0.7
2,28 Jun '19,APPL,Overweight (1.58),42,47.6,2.4,42.9,0.0,7.1,210.87,36,6.5
3,29 Mar '19,APPL,Overweight (1.54),39,46.2,5.1,46.2,0.0,2.6,191.29,32,0.7
4,31 Dec '18,APPL,Overweight (1.51),42,47.6,7.1,42.9,0.0,2.4,218.73,33,38.7

In [66]:
ratingsplit = data1["Mean Rating"].str.split('(', n=1, expand=True)
ratingsplit[1].replace(regex=True,inplace=True,to_replace=r'\)',value=r'')
ratingsplit.head()

             0     1
0  Overweight   1.59
1  Overweight   1.62
2  Overweight   1.58
3  Overweight   1.54
4  Overweight   1.51

In [67]:
data1['Mean Rating'] = ratingsplit[1].values
data1.insert(3, "Mean Description", ratingsplit[0])

data1.head()

,Date,Ticker,Mean Rating,Mean Description,# of Ratings,Buy (%),Overweight (%),Hold (%),Underweight (%),Sell (%),Mean Tgt Price,# of Tgt Prices,Tgt Price Implied Return (%)
0,01 Dec '19,APPL,1.59,Overweight,43,51.2,4.7,30.2,2.3,11.6,256.75,39,-3.9
1,30 Sep '19,APPL,1.62,Overweight,42,45.2,4.8,40.5,0.0,9.5,225.52,37,0.7
2,28 Jun '19,APPL,1.58,Overweight,42,47.6,2.4,42.9,0.0,7.1,210.87,36,6.5
3,29 Mar '19,APPL,1.54,Overweight,39,46.2,5.1,46.2,0.0,2.6,191.29,32,0.7
4,31 Dec '18,APPL,1.51,Overweight,42,47.6,7.1,42.9,0.0,2.4,218.73,33,38.7

In [68]:
data2 = pd.read_csv("old/financedata.csv")
data2.describe()

            Date Ticker   Open   High    Low  Close  Adj Close  Volume
count      31024  31001  31024  31024  31024  31024      31024   31024
unique      1241     26  16132  16217  16218  16323      29204   29152
top     5/8/2019     MU   Open   High    Low  Close  Adj Close  Volume
freq          25   1240     24     24     24     24         24      24

In [62]:
data1.dropna(subset=['Ticker'], inplace=True)
data2.head()

,Date,Ticker,Open,High,Low,Close,Adj Close,Volume
0,12/30/2014,AAPL,113.639999,113.919998,112.110001,112.519997,103.385315,29881500
1,12/31/2014,AAPL,112.82,113.129997,110.209999,110.379997,101.41906,41403400
2,1/2/2015,AAPL,111.389999,111.440002,107.349998,109.330002,100.4543,53204600
3,1/5/2015,AAPL,108.290001,108.650002,105.410004,106.25,97.624336,64285500
4,1/6/2015,AAPL,106.540001,107.43,104.629997,106.260002,97.633545,65797100